<h1>1. Основные принципы гибких технологий разработки программного обеспечения</h1>

<p>Гибкая методология разработки (англ. Agile software development, agile-методы) — серия подходов к разработке программного обеспечения, ориентированных на использование итеративной разработки и динамическое формирование требований и обеспечение их реализации в результате постоянного взаимодействия внутри самоорганизующихся рабочих групп, состоящих из специалистов различного профиля. Существует несколько методик, относящихся к классу гибких методологий разработки, в частности, известны как гибкие методики экстремальное программирование, DSDM, Scrum.</p>

<p>Большинство гибких методологий нацелены на минимизацию рисков путём сведения разработки к серии коротких циклов, называемых итерациями, которые обычно длятся две-три недели. Каждая итерация сама по себе выглядит как программный проект в миниатюре и включает все задачи, необходимые для выдачи мини-прироста по функциональности: планирование, анализ требований, проектирование, кодирование, тестирование и документирование. Хотя отдельная итерация, как правило, недостаточна для выпуска новой версии продукта, подразумевается, что гибкий программный проект готов к выпуску в конце каждой итерации. По окончании каждой итерации команда выполняет переоценку приоритетов разработки.</p>

<p>Agile-методы делают упор на непосредственное общение лицом к лицу. Большинство agile-команд расположены в одном офисе, иногда называемом англ. bullpen. Как минимум, она включает и «заказчиков» (англ. product owner — заказчик или его полномочный представитель, определяющий требования к продукту; эту роль может выполнять менеджер проекта, бизнес-аналитик или клиент). Офис может также включать тестировщиков, дизайнеров интерфейса, технических писателей и менеджеров.
Основной метрикой agile-методов является рабочий продукт. Отдавая предпочтение непосредственному общению, agile-методы уменьшают объём письменной документации по сравнению с другими методами. Это привело к критике этих методов как недисциплинированных.</p>

<p>Манифест agile: </p>

<ul>
<li>Люди и взаимодействие важнее процессов и инструментов</li>
<li>Работающий продукт важнее исчерпывающей документации</li>
<li>Сотрудничество с заказчиком важнее согласования условий контракта</li>
<li>Готовность к изменениям важнее следования первоначальному плану</li>
</ul>

<p>Критика:</p>

<p>Многие руководители проектов, работающие в традиционных методологиях вроде «водопада», критикуют agile-методы.
Один из повторяющихся пунктов критики: при agile-подходе часто пренебрегают созданием «дорожной карты» развития продукта, равно как и управлением требованиями, в процессе которого и формируется такая «карта». Гибкий подход к управлению требованиями не подразумевает далеко идущих планов (по сути, управления требованиями просто не существует в данной методологии), а подразумевает возможность заказчика вдруг и неожиданно в конце каждой итерации выставлять новые требования, часто противоречащие архитектуре уже созданного и поставляемого продукта. Такое иногда приводит к катастрофическим «авралам» с массовым рефакторингом и переделками практически на каждой очередной итерации.</p>

<p>Кроме того, считается, что работа в agile мотивирует разработчиков решать все поступившие задачи простейшим и быстрейшим возможным способом, при этом зачастую не обращая внимания на правильность кода с точки зрения требований нижележащей платформы (подход — «работает, и ладно», при этом не учитывается, что может перестать работать при малейшем изменении или же дать тяжёлые к воспроизводству дефекты после реального развёртывания у клиента). Это приводит к снижению качества продукта и накоплению дефектов.</p>

<p>Принципы, которые разъясняет Agile Manifesto:</p>

<ul>
<li>Наивысшим приоритетом для нас является удовлетворение потребностей заказчика, благодаря регулярной и ранней поставке ценного программного обеспечения.</li>
<li>Изменение требований приветствуется, даже на поздних стадиях разработки. Agile-процессы позволяют использовать изменения для обеспечения заказчику конкурентного преимущества.</li>
<li>Работающий продукт следует выпускать как можно чаще, с периодичностью от пары недель до пары месяцев.</li>
<li>На протяжении всего проекта разработчики и представители бизнеса должны ежедневно работать вместе.</li>
<li>Над проектом должны работать мотивированные профессионалы. Чтобы работа была сделана, создайте условия, обеспечьте поддержку и полностью доверьтесь им.</li>
<li>Непосредственное общение является наиболее практичным и эффективным способом обмена информацией как с самой командой, так и внутри команды.</li>
<li>Работающий продукт — основной показатель прогресса.</li>
<li>Инвесторы, разработчики и пользователи должны иметь возможность поддерживать постоянный ритм бесконечно. Agile помогает наладить такой устойчивый процесс разработки.</li>
<li>Постоянное внимание к техническому совершенству и качеству проектирования повышает гибкость проекта.</li>
<li>Простота — искусство минимизации лишней работы — крайне необходима.</li>
<li>Самые лучшие требования, архитектурные и технические решения рождаются у самоорганизующихся команд.</li>
<li>Команда должна систематически анализировать возможные способы улучшения эффективности и соответственно корректировать стиль своей работы.</li>
</ul>

<h1>2. Итеративный и инкрементальный процесс разработки программного обеспечения</h1>

<p><strong>Водопадная модель</strong>: вы только один раз проводите анализ требований; только один раз создаете дизайн будущей системы; затем только один раз программируете; вы тестируете только один раз; вы интегрируете только раз; вы поставляете продукт заказчику только один раз</p>

<ul>
<li>Анализ требований</li>
<li>Разработка архитектуры</li>
<li>Реализация</li>
<li>Интегрирование(сбор проекта воедино)</li>
<li>Тестирование</li>
<li>Развертование(deploying)</li>
<li>Поддержка</li>
</ul>

<p>The waterfall model is a sequential design process, often used in software development processes, in which progress is seen as flowing steadily downwards (like a waterfall) through the phases of Conception, Initiation, Analysis, Design, Construction, Testing, Production/Implementation, and Maintenance.</p>

<p>Парадигмы водопадной схемы:</p>

<ul>
<li>Процессы и инструменты</li>
<li>Всеобъемлющая документация</li>
<li>Переговоры по контракту</li>
<li>Следование плану</li>
</ul>

<p>Pros:</p>

<ul>
<li>Time spent early in the software production cycle can lead to greater economy at later stages. McConnell shows that a bug found in the early stages (such as requirements specification or design) is cheaper in money, effort, and time to fix than the same bug found later on in the process.[8] To take an extreme example, if a program design turns out to be impossible to implement, it is easier to fix the design at the design stage than to realize months later, when program components are being integrated, that all the work done so far has to be scrapped because of a broken design.</li>
<li>A further argument for the waterfall model is that it places emphasis on documentation (such as requirements documents and design documents) as well as source code. In less thoroughly designed and documented methodologies, knowledge is lost if team members leave before the project is completed, and it may be difficult for a project to recover from the loss. If a fully working design document is present (as is the intent of Big Design Up Front and the waterfall model), new team members or even entirely new teams should be able to familiarize themselves by reading the documents.</li>
</ul>

<p>Cons:</p>

<ul>
<li>Designers may not be aware of future implementation difficulties when writing a design for an unimplemented software product. That is, it may become clear in the implementation phase that a particular area of program functionality is extraordinarily difficult to implement. In this case, it is better to revise the design than persist in a design based on faulty predictions, and that does not account for the newly discovered problems.</li>
<li>Clients may not know exactly what requirements they need before reviewing a working prototype and commenting on it. They may change their requirements constantly. Designers and programmers may have little control over this. If clients change their requirements after the design is finalized, the design must be modified to accommodate the new requirements. This effectively means invalidating a good deal of working hours, which means increased cost, especially if a large amount of the project's resources has already been invested in Big Design Up Front.</li>
<li>С этой моделью проблемы. Дефицит специалистов, смена требований, ошибки на разных этапах, программисты увлечены творчеством и они перфекционисты.</li>
</ul>

<p><strong>Инкрементальная модель</strong>: вы проходите через все эти стадии несколько раз - вы движетесь в цикле анализ требований-дизайн-разработка-тестирование-интеграция-поставка. Ваше движение итеративно. Но это добавление нового (add onto).</p>

<p>The incremental Model is an evolution of the waterfall model, where the waterfall model is incrementally applied. The series of releases is referred to as “increments”, with each increment providing more functionality to the customers. After the first increment, a core product is delivered, which can already be used by the customer. Based on customer feedback, a plan is developed for the next increments, and modifications are made accordingly. This process continues, with increments being delivered until the complete product is delivered. The incremental philosophy is also used in the agile process model (see Agile Modeling).</p>

<p>Advantages:</p>

<ul>
<li>After each iteration, regression testing should be conducted. During this testing, faulty elements of the software can be quickly identified because few changes are made within any single iteration.</li>
<li>It is generally easier to test and debug than other methods of software development because relatively smaller changes are made during each iteration. This allows for more targeted and rigorous testing of each element within the overall product.</li>
</ul>

<p>Disadvantages:</p>

<ul>
<li>Resulting cost may exceed the cost of the organization.</li>
<li>As additional functionality is added to the product, problems may arise related to system architecture which were not evident in earlier prototypes.</li>
</ul>

<p>Incremental Development in terms of writing book means:</p>

<ul>
<li>I write part one</li>
<li>I write part two</li>
<li>I write part three, etc, until the book is finished</li>
</ul>

<p><strong>Итеративная модель</strong>: вы так же проходите через все эти стадии несколько раз - вы движетесь в цикле анализ требований-дизайн-разработка-тестирование-интеграция-поставка. Ваше движение итеративно. Но это переделывание (rework) ранее сделанного.</p>

<p>Iterative Development in terms of writing book  means:</p>

<ul>
<li>I write loads of stuff that's a complete mess</li>
<li>I go through it throwing out the irrelevant drivel, expanding on the important bits, and sorting out the structure</li>
<li>I go through it again now I can start to see the shape of it, sorting it some more</li>
<li>I go through it yet again, etc, until it's Good Enough</li>
</ul>

<p>Преимущества итеративного подхода:</p>

<ol>
<li>снижение воздействия серьезных рисков на ранних стадиях проекта, что
ведет к минимизации затрат на их устранение;</li>
<li>организация эффективной обратной связи проектной команды с
потребителем (а также заказчиками, стейкхолдерами) и создание
продукта, реально отвечающего его потребностям;</li>
<li>акцент усилий на наиболее важные и критичные направления проекта;</li>
<li>непрерывное итеративное тестирование, позволяющее оценить успешность
всего проекта в целом;</li>
<li>раннее обнаружение конфликтов между требованиями, моделями и
реализацией проекта;</li>
<li>более равномерная загрузка участников проекта;</li>
<li>эффективное использование накопленного опыта;</li>
<li>реальная оценка текущего состояния проекта и, как следствие, большая
уверенность заказчиков и непосредственных участников в его успешном
завершении;</li>
<li>затраты распределяются по всему проекту, а не группируются в его
конце.</li>
</ol>

<h1>3. Четыре переменные управления проектом: стоимость, качество, сроки и объем работ</h1>

<p>Затраты (cost) – чем больше денег, тем легче работать, однако слишком большое количество денег в самые кратчайшие сроки создаст больше проблем, чем требуется решить. С другой стороны, если вы выделяете на проект слишком мало денег, вы не сможете решить поставленные перед вами заказчиком проблемы. Сложно управлять и даже рассчитать.</p>

<p>Время (time) – с увеличением объема времени, выделяемого на выполнение проекта, у вас появляется возможность повысить качество разрабатываемой программы, а также расширить объем работ. Однако отзывы о системе, которая уже эксплуатируется в реальных рабочих условиях, гораздо ценнее, чем любые другие отзывы, поэтому, если вы выделите для выполнения проекта слишком много времени, проект может пострадать. Если вы выделите для проекта слишком маленькое время, пострадает качество.</p>

<p>Качество (quality) – эта переменная контролируется хуже всего. Если вам необходимо достигнуть каких-либо краткосрочных целей (для достижения которых требуется несколько дней или недель), вы можете намеренно пожертвовать качеством, однако связанные с этим затраты – человеческие, деловые и технические – могут оказаться чрезмерными.</p>

<p>Объем работ (scope) – сократив объем работ, вы можете повысить качество (при условии, конечно, что поставленная заказчиком задача решена). Сокращение объема работ позволяет также сократить время проекта и связанные с проектом затраты.</p>

<p>Именно через изменение объема работ идет управление проектом.</p>

<h1>4. Разработка через тестирование: общие принципы.</h1>

<p>В любой программе можно использовать TDD. Не только, чтобы рефакторинг ничего не ломал, но чтобы сохранять простой дизайн. Создаем новые тесты, но не создавая самой функциональности. А потом самым тупым и прямым и безалаберным способом реализовываем. Потом рефакторим и получаем систему с простым дизайном, которая работает. Важная мысль: TDD это не дисциплина, TDD это практика программирования. Через полгода мозги начинают работать по другому. И это не будет доставлять дискомфорт. </p>

<p>Разработка через тестирование (test-driven development, TDD) — техника
разработки программного обеспечения, которая основывается на повторении
очень коротких циклов разработки: сначала пишется тест, покрывающий
желаемое изменение, затем пишется код, который позволит пройти тест, и
под конец проводится рефакторинг нового кода к соответствующим
стандартам.</p>

<p>Кент Бек, считающийся изобретателем этой техники, утверждал в 2003 году,
что разработка через тестирование поощряет простой дизайн и внушает
уверенность (inspires confidence).</p>

<p>В 1999 году при своем появлении разработка через тестирование была тесно
связана с концепцией «сначала тест» (test-first), применяемой в
экстремальном программировании, однако позже выделилась как независимая
методология.</p>

<p>Тест — это процедура, которая позволяет либо подтвердить, либо
опровергнуть работоспособность кода. Когда программист проверяет
работоспособность разработанного им кода, он выполняет тестирование
вручную. В данном контексте тест состоит из двух этапов: запуск кода и
проверки результатов его работы. Автоматический тест выполняется иначе:
вместо программиста запуском кода и проверкой результатов занимается
компьютер, который отображает на экране результат выполнения теста: код
работоспособен или код неработоспособен.</p>

<p>Методика разработки через тестирование позволяет получить ответы на
вопросы об организации автоматических тестов и выработке определенных
навыков тестирования.</p>

<h1>5. Разработка через тестирование: типичный цикл разработки через тестирование</h1>

<ol>
<li>Тест.</li>
<li>Проверка, что не компилируется.</li>
<li>Заглушки кода (30 мин.).</li>
<li>Проверка, что тест не работает.</li>
<li>Простая реализация.</li>
<li>Проверка, что работает.</li>
<li>Работают все тесты.</li>
<li>Рефакторинг.</li>
<li>Работают все тесты.</li>
<li>Repeat.</li>
</ol>

<h1>??? Разработка через тестирование: модульные и функциональные тесты</h1>

<p>2 вида тестирования:</p>

<ol>
<li>модульные (unit-testing),</li>
<li>функциональные (приёмочные, acceptance-testing).</li>
</ol>

<p>Разработчик не может быть уверен в правильности написанного им кода до
тех пор, пока не сработают абсолютно все тесты модулей разрабатываемой
им системы. Тесты модулей позволяют разработчикам убедиться в том, что
их код работает корректно. Они также помогают другим разработчикам
понять, зачем нужен тот или иной фрагмент кода и как он функционирует.
Тесты модулей также позволяют разработчику без каких-либо опасений
выполнять рефакторинг (refactoring). Юнит-тесты тестируют отдельные
части программы.</p>

<p>Приемочные тесты позволяют убедиться в том, что система действительно
обладает заявленными возможностями. Кроме того, приемочные тесты
позволяют проверить корректность функционирования разрабатываемого
продукта. Функциональное тестирование — тестирование программы в целом.</p>

<h1>6. Разработка через тестирование: mock-объекты.</h1>

<p>Модульные тесты тестируют каждый модуль по отдельности. Не важно, содержит ли модуль сотни тестов или только пять. Тесты, используемые при разработке через тестирование, не должны пересекать границы процесса, использовать сетевые соединения. В противном случае прохождение тестов будет занимать большое время, и разработчики будут реже запускать набор тестов целиком. Введение зависимости от внешних модулей или данных также превращает модульные тесты в интеграционные. При этом если один модуль в цепочке ведет себя неправильно, может быть не сразу понятно какой именно.</p>

<p>Когда разрабатываемый код использует базы данных, веб-сервисы или другие внешние процессы, имеет смысл выделить покрываемую тестированием часть. Это делается в два шага:</p>

<ul>
<li>Везде, где требуется доступ к внешним ресурсам, должен быть объявлен интерфейс, через который этот доступ будет осуществляться. См. принцип инверсии зависимостей (англ. dependency inversion) для обсуждения преимуществ этого подхода независимо от TDD.</li>
<li>Интерфейс должен иметь две реализации. Первая, собственно предоставляющая доступ к ресурсу, и вторая, являющаяся fake- или mock-объектом. Всё, что делают fake-объекты, это добавляют сообщения вида «Объект person сохранен» в лог, чтобы потом проверить правильность поведения. Mock-объекты отличаются от fake- тем, что сами содержат утверждения (англ. assertion), проверяющие поведение тестируемого кода. Методы fake- и mock-объектов, возвращающие данные, можно настроить так, чтобы они возвращали при тестировании одни и те же правдоподобные данные. Они могут эмулировать ошибки так, чтобы код обработки ошибок мог быть тщательно протестирован. Другими примерами fake-служб, полезными при разработке через тестирование, могут быть: служба кодирования, которая не кодирует данные, генератор случайных чисел, который всегда выдает единицу. Fake- или mock-реализации являются примерами внедрения зависимости (англ. dependency injection).</li>
</ul>

<p>Использование fake- и mock-объектов для представления внешнего мира приводит к тому, что настоящая база данных и другой внешний код не будут протестированы в результате процесса разработки через тестирование. Чтобы избежать ошибок, необходимы тесты реальных реализаций интерфейсов, описанных выше. Эти тесты могут быть отделены от остальных модульных тестов и реально являются интеграционными тестами. Их необходимо меньше, чем модульных, и они могут запускаться реже. Тем не менее, чаще всего они реализуются используя те же библиотеки для тестирования (англ. testing framework), что и модульные тесты.</p>

<p>Интеграционные тесты, которые изменяют данные в базе данных, должны откатывать состоянии базы данных к тому, которое было до запуска теста, даже если тест не прошёл. Для этого часто применяются следующие техники:</p>

<p>Метод TearDown, присутствующий в большинстве библиотек для тестирования.
* try...catch...finally структуры обработки исключений, там где они доступны.
* Транзакции баз данных.
* Создание снимка (англ. snapshot) базы данных перед запуском тестов и откат к нему после окончания тестирования.
* Сброс базы данных в чистое состояние перед тестом, а не после них. Это может быть удобно, если интересно посмотреть состояние базы данных, оставшееся после не прошедшего теста.</p>

<p>Существуют библиотеки Moq, jMock, NMock, EasyMock, Typemock, jMockit, Unitils, Mockito, Mockachino, PowerMock or Rhino Mocks, предназначенные упростить процесс создания mock-объектов.</p>

<h1>7. Практики XP: стандарты кодирования</h1>

<p>Культура кодирования и управления исходным кодом оказывают
непосредственное влияние на успех проекта в целом.  Более того,  культура
кодирования и управления исходным кодом существенно влияют на
возможность использования других практик гибких технологий разработки
программного обеспечения, таких как парное программирование, совместное
владение кодом и непрерывная интеграция. 
Подавляющее большинство современных языков программирования
позволяют использовать разнообразные стили кодирования.  Беспорядочное
смешение нескольких стилей программирования в рамках одного проекта
значительно затрудняет внедрение таких практик,  как парное
программирование,  совместное владение кодом и рефакторинг.  Поэтому
целесообразным является внедрение единого стандарта кодирования, 
который включает в себя как общие требования по стилю оформления кода, 
так и требования по общим вопросам программирования.  Ниже приведены
некоторые рекомендации по самостоятельному ознакомлению с
современными стандартами кодирования: </p>

<p>Обычно, стандарт оформления кода описывает:</p>

<ul>
<li>способы выбора названий и используемый регистр символов для имён переменных и других идентификаторов:
<ul>
<li>запись типа переменной в её идентификаторе (венгерская нотация) и</li>
<li>регистр символов (нижний, верхний, «верблюжий», «верблюжий» с малой буквы), использование знаков подчёркивания для разделения слов;</li>
</ul></li>
<li>стиль отступов при оформлении логических блоков — используются ли символы табуляции, ширина отступа;</li>
<li>способ расстановки скобок, ограничивающих логические блоки;</li>
<li>использование пробелов при оформлении логических и арифметических выражений;</li>
<li>стиль комментариев и использование документирующих комментариев.</li>
</ul>

<p>Вне стандарта подразумевается:</p>

<ul>
<li>отсутствие магических чисел;</li>
<li>ограничение размера кода по горизонтали (чтобы помещался на экране) и вертикали (чтобы весь код файла держался в памяти), а также функции или метода в размер одного экрана.</li>
</ul>

<h1>8. Практики XP: парное программирование</h1>

<p>Одна из самых спорных практик. Крайне эффективная. Это программирование за одним компьютером. Функционирует как водитель и штурман. Один кодит, другой типа думает. Они часто меняются. Второй нужен, чтобы думать. Это увеличивает качество намного сильнее. Резко повышается дисциплина. Пары не являются постоянными. Хорошо работает на командах из восьми человек. Потому работа в паре с одним человеком очень задалбывает и изматывает. Можно использовать парное программирование иногда. То есть выделить задачи, которые решаются только парами. Возможно только со стандартами кодирования.</p>

<p>Техника программирования, при которой весь исходный код создаётся парами
людей, программирующих одну задачу, сидя за одним рабочим местом. Один
программист управляет компьютером и, в основном, думает над кодированием
в деталях. Другой программист сосредоточен на картине в целом и
непрерывно просматривает код, производимый первым программистом. Время
от времени они меняются ролями, обычно, каждые полчаса. Преимущества:</p>

<ol>
<li>Программисты в паре чаще «делают то, что нужно» и реже устраивают
длинные перерывы.</li>
<li>Партнёры в паре менее склонны к неудачным решениям и производят
более качественный код.</li>
<li>Коллективное владение (пары меняются) означает, что каждый несёт
ответственность за весь код. Таким образом, каждый вправе вносить
изменения в любой участок кода. Парное программирование поддерживает
эту практику: работая в парах, все программисты получают доступ ко
всем частям кода. Важное преимущество коллективного владения кодом
заключается в том, что оно ускоряет процесс разработки, поскольку
при появлении ошибки её может устранить любой программист.</li>
<li>Каждый, даже начинающий программист, знает что-то, чего не знают
другие. Парное программирование — безболезненный способ
распространить эти знания.</li>
<li>Ошибки обнаруживаются сразу же, как только появились, это позволяет
экономить и время, и деньги. Команда разработчиков сплочается, что
позволяет закончить работу раньше и более лучше.</li>
</ol>

<p>Виды:</p>

<ol>
<li>Удалённое парное программирование: два программиста находятся в
разных местах, но работают, например, на удалённом рабочем столе.</li>
<li><p>Пинг-понг:</p>

<ol>
<li>наблюдатель пишет тест, на котором падает;</li>
<li>программисты меняются ролями;</li>
<li>бывший наблюдатель подправляет код;</li>
<li>повторяем цикл.</li>
</ol></li>
</ol>

<h1>9. Практики XP: коллективное владение кодом</h1>

<p>Это такая штука, никто не может сказать, что это не него баг. Каждый член команды может прокомментировать только что написанный код. В противном случае каждый программист выделит себе делянку и станет там главным. Это спасает от неожиданных происшествий. Никто не будет делать что-то неправильно, потому что люди будут следить друг за другом. Запрещает отмазки, типа это не мой код. Важно не путать коллективное владение с правилом "общее - значит ничье". </p>

<p>Коллективное владение означает, что каждый член команды несёт
ответственность за весь исходный код. Таким образом, каждый вправе
вносить изменения в любой участок программы. Парное программирование
поддерживает эту практику: работая в разных парах, все программисты
знакомятся со всеми частями кода системы. Важное преимущество
коллективного владения кодом в том, что оно ускоряет процесс разработки,
поскольку при появлении ошибки её может устранить любой программист.</p>

<p>Давая каждому программисту право изменять код, мы получаем риск
появления ошибок, вносимых программистами, которые считают что знают,
что делают, но не рассматривают некоторые зависимости. Хорошо
определённые UNIT-тесты решают эту проблему: если нерассмотренные
зависимости порождают ошибки, то следующий запуск UNIT-тестов будет
неудачным.</p>

<h1>10. Практики XP: 40-часовая рабочая неделя</h1>

<p>Цифра 40 ничего не значит. Важно, что она константа. Это нужно, чтобы избежать аврал. Никогда не просим программистов выходить в субботу и воскресение. И никогда этого не делаем. В аврале резко падает качество. Во-вторых, когда люди начинают работать в аврале, люди забывают, что у них есть семьи, а потом семьи напоминают о себе. Семья начинает терроризировать программиста. В команде начнутся дополнительные конфликты. Планирование отсутствия аврала мотивирует менеджеров работать правильно. Если аврал, значит спланировано было хреново.</p>

<p>Устойчивый темп — программист не должен работать более, чем 40 часов в
неделю. Если на какой-то неделе программист переработал, то на следующей
он не должен перерабатывать. Это легко реализуется в экстремальном
программировании, т.к. циклы разработки уже короткие. Усталый работник —
плохой работник.</p>

<p>Ключ, который помогает реализовать устойичый темп, — слияние кода и
постоянная покрытость кода тестами. Постоянный рефакторинг помогает
программистам понимать, что происходит.</p>

<h1>11. Практики XP: простой дизайн</h1>

<p>Простота дизайна XP исходит из того, что в процессе работы условия
задачи могут неоднократно измениться, а значит, разрабатываемый продукт
не следует проектировать заблаговременно целиком и полностью. Если в
самом начале работы вы пытаетесь от начала и до конца детально
спроектировать систему, вы напрасно тратите время. XP предполагает, что
проектирование — это настолько важный процесс, что его необходимо
выполнять постоянно, в течение всего времени работы над проектом.
Проектирование должно выполняться небольшими этапами, с учетом постоянно
изменяющихся требований. В каждый момент времени мы пытаемся
использовать наиболее простой дизайн, который подходит для решения
текущей задачи. При этом мы меняем его по мере того, как условия задачи
меняются.</p>

<p>Составляющие:</p>

<ol>
<li>отражает намерения программиста,</li>
<li>нет дублирования,</li>
<li>работают все тесты,</li>
<li>минимальное количество кода.</li>
</ol>

<h1>12. Практики XP: рефакторинг</h1>

<p>Рефакторинг (англ. refactoring) — процесс изменения внутренней структуры
программы, не затрагивающий её внешнего поведения и имеющий целью
облегчить понимание её работы. В основе рефакторинга лежит
последовательность небольших эквивалентных (то есть сохраняющих
поведение) преобразований. Поскольку каждое преобразование маленькое,
программисту легче проследить за его правильностью, и в то же время вся
последовательность может привести к существенной перестройке программы и
улучшению её согласованности и четкости.</p>

<p>В программировании термин «рефакторинг» означает изменение исходного
кода программы без изменения его внешнего поведения. В экстремальном
программировании и других гибких методологиях рефакторинг является
неотъемлемой частью цикла разработки ПО: разработчики попеременно то
создают новые тесты и функциональность, то выполняют рефакторинг кода
для улучшения его логичности и прозрачности. Автоматическое
юнит-тестирование позволяет убедиться, что рефакторинг не разрушил
существующую функциональность.</p>

<p>Иногда под рефакторингом неправильно подразумевают коррекцию кода с
заранее оговоренными правилами отступа, перевода строк, внесения
комментариев и прочими визуально значимыми изменениями, которые никак не
отражаются на процессе компиляции, с целью обеспечения лучшей читаемости
кода.</p>

<p>Рефакторинг изначально не предназначен для исправления ошибок и
добавления новой функциональности, он вообще не меняет поведение
программного обеспечения и это помогает избежать ошибок и облегчить
добавление функциональности. Он выполняется для улучшения понятности
кода или изменения его структуры, для удаления «мёртвого кода» — всё это
для того, чтобы в будущем код было легче поддерживать и развивать. В
частности, добавление в программу нового поведения может оказаться
сложным с существующей структурой — в этом случае разработчик может
выполнить необходимый рефакторинг, а уже затем добавить новую
функциональность.</p>

<p>Это может быть перемещение поля из одного класса в другой, вынесение
фрагмента кода из метода и превращение его в самостоятельный метод или
даже перемещение кода по иерархии классов. Каждый отдельный шаг может
показаться элементарным, но совокупный эффект таких малых изменений в
состоянии радикально улучшить проект или даже предотвратить распад плохо
спроектированной программы.</p>

<h1>13. Практики XP: игра в планирование.</h1>

<p>Основная цель игры в планирование — быстро сформировать приблизительный
план работы и постоянно обновлять его по мере того, как условия задачи
становятся все более четкими. Артефактами игры в планирование является
набор бумажных карточек, на которых записаны пожелания заказчика
(customer stories), и приблизительный план работы по выпуску следующих
одной или нескольких небольших версий продукта. Критическим фактором,
благодаря которому такой стиль планирования оказывается эффективным,
является то, что в данном случае заказчик отвечает за принятие
бизнес-решений, а команда разработчиков отвечает за принятие технических
решений. Если не выполняется это правило, весь процесс распадается на
части.</p>

<p>Суть игры в планирование - попытка помочь заказчику понять что он хочет, понять это самому, и оценить во что это выльется по времени.
Последовательность действий примерно такая:</p>

<ol>
<li>заказчик пишет на карточках свои пожелания</li>
<li>вместе обсуждаем написанное, возможно какие-то карточки меняются, какие-то выкидываются</li>
<li>заказчик расставляет приоритеты</li>
<li>оценка по времени каждой карточки</li>
<li>смотрим, что получилось, что реально можем сделать за выделенное время</li>
</ol>

<p>Самое трудное для разработчика - оценка времени. Необходим опыт.</p>

<h1>??? Практики XP: постоянная интеграция</h1>

<p>Постоянная интеграция — это практика разработки программного
обеспечения, которая заключается в выполнении частых автоматизированных
сборок проекта для скорейшего выявления и решения интеграционных
проблем. В обычном проекте, где над разными частями системы разработчики
трудятся независимо, стадия интеграции является заключительной. Она
может непредсказуемо задержать окончание работ. Переход к непрерывной
интеграции позволяет снизить трудоёмкость интеграции и сделать её более
предсказуемой за счет наиболее раннего обнаружения и устранения ошибок и
противоречий.</p>

<p>Требования к проекту:</p>

<ol>
<li>исходные коды и все, что необходимо для сборки и тестирования
проекта, хранится в репозитории системы управления версиями;</li>
<li>операции копирования из репозитория, сборки и тестирования всего
проекта автоматизированы и легко вызываются из внешней программы.</li>
</ol>

<p>Организация:</p>

<ul>
<li><p>На выделенном сервере организуется служба, в задачи которой входит:</p>

<ol>
<li>получение исходного кода из репозитория;</li>
<li>сборка проекта;</li>
<li>выполнение тестов;</li>
<li>развёртывание готового проекта;</li>
<li>отправка отчетов.</li>
</ol></li>
<li><p>Локальная сборка может осуществляться:</p>

<ol>
<li>по внешнему запросу,</li>
<li>по расписанию,</li>
<li>по факту обновления репозитория;</li>
<li>по другим критериям.</li>
</ol></li>
<li><p>Сборка по расписанию:</p>

<ul>
<li>В случае сборки по расписанию (англ. daily build — рус.
ежедневная сборка), они, как правило, проводятся каждой ночью в
автоматическом режиме — ночные сборки (чтобы к началу рабочего
дня были готовы результаты тестирования). Для различения
дополнительно вводится система нумерации сборок — обычно, каждая
сборка нумеруется натуральным числом, которое увеличивается с
каждой новой сборкой. Исходные тексты и другие исходные данные
при взятии их из репозитория системы контроля версий помечаются
номером сборки. Благодаря этому, точно такая же сборка может
быть точно воспроизведена в будущем — достаточно взять исходные
данные по нужной метке и запустить процесс снова. Это даёт
возможность повторно выпускать даже очень старые версии
программы с небольшими исправлениями.</li>
</ul></li>
</ul>

<p>Преимущества:</p>

<ol>
<li>проблемы интеграции выявляются и исправляются быстро, что
оказывается дешевле;</li>
<li>немедленный прогон модульных тестов для свежих изменений;</li>
<li>постоянное наличие текущей стабильной версии вместе с продуктами
сборок — для тестирования, демонстрации, и т.п.;</li>
<li>немедленный эффект от неполного или неработающего кода приучает
разработчиков к работе в итеративном режиме с более коротким циклом.</li>
</ol>

<p>Недостатки:</p>

<ol>
<li>затраты на поддержку работы непрерывной интеграции;</li>
<li>потенциальная необходимость в выделенном сервере под нужды
непрерывной интеграции;</li>
<li>немедленный эффект от неполного или неработающего кода отучает
разработчиков от выполнения периодических резервных включений кода в
репозиторий [в случае использования системы управления версиями
исходного кода с поддержкой ветвления, эта проблема может решаться
созданием отдельной «ветки» (англ. branch) проекта для внесения
крупных изменений (код, разработка которого до работоспособного
варианта займет несколько дней, но желательно более частое резервное
копирование в репозиторий). По окончании разработки и
индивидуального тестирования такой ветки, она может быть объединена
(англ. merge) с основным кодом или «стволом» (англ. trunk) проекта].</li>
</ol>

<h1>14. Scrum: общее описание</h1>

<p>Scrum — это набор принципов, на которых строится процесс разработки,
позволяющий в жёстко фиксированные небольшие промежутки времени (спринты
от 2 до 4 недель) предоставлять конечному пользователю работающее ПО с
новыми возможностями, для которых определён наибольший приоритет.
Возможности ПО к реализации в очередном спринте определяются в начале
спринта на этапе планирования и не могут изменяться на всём его
протяжении. При этом строго фиксированная небольшая длительность спринта
придаёт процессу разработки предсказуемость и гибкость.</p>

<p>Главные действующие роли в Scrum:</p>

<ul>
<li>Scrum Master — тот, кто ведёт Scrum митинги и следит, чтобы при этом
соблюдались все принципы Scrum (роль не предполагает ничего кроме
корректного ведения самого Scrum’а, руководитель проекта скорее
относится к Product Owner и не должен являться ScrumMaster);</li>
<li>Владелец Продукта (Product Owner) — человек, который представляет
интересы конечных пользователей и других заинтересованных в продукте
сторон;</li>
<li>кросс-функциональная Команда (Scrum Team), состоящая как из
разработчиков, так и из тестировщиков, архитекторов, аналитиков и
т.д. (при этом размер команды в идеале составляет 5-9 человек).
Команда является единственным полностью вовлечённым участником
разработки, и отвечает за результат как единое целое. Никто кроме
Команды не может вмешиваться в процесс разработки на протяжении
спринта.</li>
</ul>

<p>На протяжении каждого спринта создаётся функциональный рост программного
обеспечения. Набор возможностей, которые реализуются в каждом спринте,
происходят из этапа, называемого product backlog (документация запросов
на выполнение работ), обладающего наивысшим приоритетом по уровню
требований к работе, который должен быть выполнен. Запросы на выполнение
работ (backlog items), определенных на протяжении совета по планированию
спринта (sprint planning meeting), перемещаются в этап спринта. На
протяжении этого собрания Владелец Продукта информирует о заданиях,
которые должны быть выполнены. Тогда Команда определяет, сколько из
желаемого они могут выполнить, чтобы завершить необходимые части на
протяжении следующего спринта. Во время спринта команда выполняет
определенный фиксированный список заданий (т.н. sprint backlog). На
протяжении этого периода никто не имеет права менять список требований к
работе, что следует понимать как заморозку требований (requirements) во
время спринта.</p>

<h1>15. Scrum: роли</h1>

<p>Scrum - описывает политическое взаимодействие в команде. Есть несколько вариантов, как ее сделать. Можно сделать по принципу диктатуры. Но с течением времени падает эффективность. Другой вариант - принимать все решение сообща. Они обладают недостатками. Нужно много времени. Приводят к ограничено раз умным решениям. Третий способ - анархия. Каждый программист берет и делает как хочет. При такой схеме возможны ужасные решения. Четвертый вариант - разделить полномочия. В любом проекте участвует куча людей. Группа программистов, тестеров. Есть некоторое количество начальников. Участвуют разные сторонние эксперты. Еще есть представители заказчиков. Оказывается, что со блюсти интересы всех сложно. </p>

<p>Scrum делит всех людей на две группы (поросята и цыплята). Поросята вовлечены непосредственно. Цыплята только советуют и помогают. Три с половиной роли. Первая роль - Команда. Вторая роль - владелец продукта. Третья роль - scrum master. Он отвечает за процесс. Он посредник между командой, заказчиков и заинтересованных лиц. Третья с половиной роль - все остальные люди. Заинтересованные лица. Но их роль не столь существенна с точки зрения скрама. </p>

<blockquote>
  <p>Курица говорит свинье: «Давай откроем ресторан!». Свинья смотрит на
курицу и отвечает: «Хорошая идея, и как мы его назовем?». Курица
подумала и говорит: «Почему бы не назвать ’Яичница с беконом’?». «Так
не пойдёт», — отвечает свинья — «ведь тогда мне придётся полностью
посвятить себя проекту, а ты будешь вовлечена только частично».</p>
</blockquote>

<p>Свиньи полностью включены в проект, в Скрам процесс, они как бы едины со
«своей сущностью» на производственной линии.</p>

<ul>
<li>Свиньи
<ol>
<li>Владелец Продукта (Product Owner);</li>
<li>Руководитель (ScrumMaster);</li>
<li>Команда (Scrum Team).</li>
</ol></li>
<li>Куры
<ol>
<li>Пользователи (Users);</li>
<li>Клиенты, Продавцы (Stakeholders);</li>
<li>Эксперты-консультанты (Consulting Experts).</li>
</ol></li>
</ul>

<h1>16. Scrum: фазы проекта</h1>

<ol>
<li>Пред-игровая фаза</li>
</ol>

<p>Планирование — дефиниция нового выпуска продукта, основанного на известных, на сегодняшний день, свойств продукта, вместе с оценкой по его стоимости и срокам. Если разрабатывается новая система, данная фаза включает в себя как концептуализацию, так и анализ. Если существующая система усовершенствуется, то данная фаза состоит только из небольшого [ограниченного] анализа.
Архитектура — создание дизайна того как свойства продукта будут внедрены. Эта фаза включает в себя модификацию архитектуры системы и дизайн высокого уровня.</p>

<ol>
<li>Игра (Разработка)</li>
</ol>

<p>Спринты разработки — разработка релиза новых функций с отслеживанием по, иногда, изменяющимся времени, требованиям, качеству, стоимости и т.д. Интерактивность с этими переменными определяет конец этой фазы. Существует множество итеративных спринтов разработки, или циклов, которые используется для создания системы.</p>

<ol>
<li>После-игровая фаза</li>
</ol>

<p>Завершение (закрытие) — подготовка к релизу включает в себя финальную документацию, мануал, сайт, предрелизное поэтапное тестирование и сам релиз.</p>

<h1>17. Scrum: сессии</h1>

<ol>
<li><p>Сессия планирования:</p>

<ul>
<li>выбирается объём работ, обязательства по выполнению которых за
спринт принимает на себя команда;</li>
<li>обсуждается и определяется, каким образом будет реализован этот
объём работ;</li>
<li>каждая запись в Product Backlog, принятая к реализации,
разбивается на подзадачи, которые оцениваются в идеальных
человеко-часах;</li>
<li>ограничена сверху 4-8 часами в зависимости от продолжительности
итерации, опыта команды и т. п.;</li>
</ul></li>
<li><p>Daily Scrum Meeting:</p>

<ul>
<li>начинается точно вовремя;</li>
<li>все могут наблюдать, но только «свиньи» говорят;</li>
<li>длится не более 15 минут;</li>
<li>проводится в одном и том же месте в течение спринта;</li>
<li>дискуссии запрещены;</li>
<li><p>3 вопроса каждому члену команды:</p>

<ul>
<li>Что сделано с момента предыдущего митинга до текущего?</li>
<li>Что будет сделано с момента текущего митинга до следующего?</li>
<li>Что мешает работать с максимальной эффективностью? (Над
решением этих проблем работает ScrumMaster. Обычно это
решение проходит за рамками митинга и в составе лиц,
непосредственно затронутых данным препятствием.)</li>
</ul></li>
</ul></li>
<li><p>Demo Meeting:</p>

<ul>
<li>происходит в конце итерации (спринта);</li>
<li>команда демонстрирует прирост функциональности продукта всем
заинтересованным лицам;</li>
<li>привлекается максимальное количество зрителей;</li>
<li>все члены команды участвуют в демонстрации (один человек на
демонстрацию или каждый показывает, что сделал за спринт);</li>
<li>ограничена 4-мя часами в зависимости от продолжительности
итерации и инкремента продукта.</li>
</ul></li>
<li><p>Retrospective Meeting:</p>

<ul>
<li>все члены команды рассказывают о своём отношении к ходу
прошедшего спринта;</li>
<li><p>отвечают на два основных вопроса:</p>

<ul>
<li>Что было сделано хорошо в прошедшем спринте?</li>
<li>Что надо улучшить или не допускать в следующем?</li>
</ul></li>
<li><p>выполняют улучшение процесса разработки (решают вопросы и
фиксируют удачные решения).</p></li>
</ul></li>
</ol>

<h1>18. Scrum: документы</h1>

<p>Документы:</p>

<ol>
<li><p>Product backlog — это документ, содержащий список требований к
функциональности, которые упорядочены по степени важности. Product
backlog представляет собой список того, что должно быть реализовано.
Элементы этого списка называются «историями» (user story) или
элементами backlog’a (backlog items). Product backlog открыт для
редактирования для всех участников Scrum-процесса.</p>

<ul>
<li><p>Обязательные поля:</p>

<ol>
<li>ID — уникальный идентификатор, порядковый номер, применяемый
для идентификации историй в случае их переименования.</li>
<li>Название (Name) — краткое описание истории. Оно должно быть
однозначным, чтобы и разработчики, и product owner могли
понять, о чем идёт речь и отличить одну историю от другой.</li>
<li>Важность (Importance) — степень важности данной истории, по
мнению product owner’a. Обычно представляет собой
натуральное число, иногда для этой цели используются числа
Фибоначчи. Чем больше значение, тем выше приоритет.</li>
<li>Предварительная оценка (initial estimate) — начальная оценка
объёма работ, необходимого для реализации истории по
сравнению с другими историями. Измеряется в story point’ах.
Приблизительно соответствует числу «идеальных
человеко-часов».</li>
<li>Как продемонстрировать (how to demo) — краткое пояснение
того, как завершённая задача будет продемонстрирована в
конце спринта. Данное поле может представлять собой код
автоматизированного теста для приёмо-сдаточного испытания.</li>
</ol></li>
<li><p>Дополнительные поля (иногда, также, используются дополнительные
поля в product backlog, в основном для того, чтобы помочь
product owner’у определиться с его приоритетами):</p>

<ol>
<li>Категория (track). Например, «панель управления» или
«оптимизация». При помощи этого поля product owner может
легко выбрать все пункты категории «оптимизация» и
установить им низкий приоритет.</li>
<li>Компоненты (components) — указывает, какие компоненты
(например, база данных, сервер, клиент) будут затронуты при
реализации истории. Данное поле состоит из группы
checkbox’ов, которые отмечаются, если соответствующие
компоненты требуют изменений.</li>
<li>Инициатор запроса (requestor). Product owner может захотеть
хранить информацию о всех заказчиках, заинтересованных в
данной задаче. Это нужно для того, чтобы держать их в курсе
дела о ходе выполнения работ.</li>
<li>ID в системе учёта дефектов (bug tracking ID) — если вы
используете отдельную систему для учёта дефектов (например,
Jira), тогда в описании истории полезно хранить ссылки на
все дефекты, которые к ней относятся.</li>
</ol></li>
</ul></li>
<li><p>Sprint backlog — содержит функциональность, выбранную Product Owner
из Product Backlog. Все функции разбиты по задачам, каждая из
которых оценивается командой. Каждый день команда оценивает объем
работы, который нужно проделать для завершения задач, а также
содержит возникшие проблемы при выполнении задания.</p></li>
<li>Burndown chart — количество задач от времени, возможно, задач в каждой фазе от времени, обнуляется к Demo-сессии. Рисуется Scrum-мастером.</li>
</ol>

<h1>19.  Scrum и Kanban: общее описание</h1>

<ul>
<li>Во-первых, нужно сразу понять, что Канбан — это не конкретный процесс, а система ценностей. Как, впрочем, и SCRUM с XP. Это значит, что никто вам не скажет что и как делать по шагам.</li>
<li>Во-вторых, весь Канбан можно описать одной простой фразой — «Уменьшение выполняющейся в данный момент работы (work in progress)».</li>
<li>В-третьих, Канбан — это даже еще более «гибкая» методология, чем SCRUM и XP. Это значит, что она не подойдет всем командам и для всех проектов. И это также значит, что команда должна быть еще более готовой к гибкой работе, чем даже команды, использующие SCRUM и XP.</li>
</ul>

<p>Сходства:</p>

<ul>
<li>Оба – Agile.</li>
<li>Оба используют вытягивающие системы планирования.</li>
<li>Оба ограничивают WIP.</li>
<li>Оба используют прозрачность для обеспечения улучшения процесса.</li>
<li>Оба ориентированы на ранние и частые поставки продукта.</li>
<li>Оба полагаются на самоорганизующиеся команды.</li>
<li>Оба требуют деления задач на более мелкие.</li>
<li>В обоих случаях план  релиза постоянно оптимизируется на основе эмпирических данных (производительности/ времени выполнения задачи).</li>
</ul>

<p>Отличия:</p>

<ul>
<li>Scrum: Обязательны ограниченные по времени итерации. Kanban: Ограниченные по времени итерации необязательны. Могут быть отдельные ритмы для планирования, выпуска и усовершенствования процессов. Также могут быть событийно-управляемые итерации вместо ограниченных по времени.</li>
<li>Scrum: Команда обязуется выполнить конкретный объем работы за эту итерацию. Kanban: Обязательства опциональны.</li>
<li>Scrum: Как основная метрика для планирования и улучшения процессов используется производительность. Kanban: Как основная метрика для планирования и улучшения процессов используется время выполнения задачи.</li>
<li>Scrum: Кросс-функциональные команды обязательны. Kanban: Кросс-функциональные команды, опциональны. Допустимы узкопрофильные команды.</li>
<li>Scrum: Задачи должны быть разбиты на более мелкие так, чтобы они были завершены в течение одного спринта. Kanban: Нет каких-либо определенных размеров задач.</li>
<li>Scrum: Наличие burndown-диаграммы обязательно. Kanban: Наличие каких-либо обязательных диаграмм не требуется. </li>
<li>Scrum: WIP ограничивается косвенно (за спринт). Kanban: WIP ограничивается явно (по статусам).</li>
<li>Scrum: Оценки задач обязательны. Kanban: Оценки задач опциональны</li>
<li>Scrum: Нельзя добавлять задачи в текущую итерацию. Kanban: Можно добавлять новые задачи, когда это возможно.</li>
<li>Scrum: За backlog спринта отвечает только одна конкретная команда. Kanban: Kanban-доска может совместно использоваться несколькими группами или отдельными лицами.</li>
<li>Scrum: Предписаны 3 роли (Product Owner / Scrum Master / Команда). Kanban: Нет предписанных ролей.</li>
<li>Scrum: Scrum-доска очищается между спринтами. Kanban: Kanban-доска является неизменной.</li>
<li>Scrum: Приоритезированный Product Backlog обязателен. Kanban: Приоритезация не является обязательной.</li>
</ul>

<p>Канбан разработка отличается от SCRUM в первую очередь ориентацией на задачи. Если в SCRUM основная ориентация команды — это успешное выполнение спринтов (надо признать, что это так), то в Канбан на первом месте задачи.
Спринтов никаких нет, команда работает над задачей с самого начала и до завершения. Деплоймент задачи делается тогда, когда она готова. Презентация выполненной работы — тоже. Команда не должна оценивать время на выполнение задачи, ибо это имеет мало смысла и почти всегда ошибочно вначале.
Если менеджер верит команде, то зачем иметь оценку времени? Задача менеджера — это создать приоритизированный пул задач, а задача команды — выполнить как можно больше задач из этого пула. Всё. Никакого контроля не нужно. Всё, что нужно от менеджера — это добавлять задачи в этот пул или менять им приоритет. Именно так он управляет проектом.</p>

<p>Команда для работы использует Канбан-доску:</p>

<ul>
<li>Цели проекта: <br />
Необязательный, но полезный столбец. Сюда можно поместить высокоуровневые цели проекта, чтобы команда их видела и все про них знали. Например, «Увеличить скорость работы на 20%» или «Добавить поддержку Windows 7».</li>
<li>Очередь задач: <br />
Тут хранятся задачи, которые готовы к тому, чтобы начать их выполнять. Всегда для выполнения берется верхняя, самая приоритетная задача и ее карточка перемещается в следующий столбец.</li>
<li>Проработка дизайна: <br />
этот и остальные столбцы до «Закончено» могут меняться, т.к. именно команда решает, какие шаги проходит задача до состояния «Закончено». Например, в этом столбце могут находиться задачи, для которых дизайн кода или интерфейса еще не ясен и обсуждается. Когда обсуждения закончены, задача передвигается в следующий столбец.</li>
<li>Разработка: <br />
Тут задача висит до тех пор, пока разработка фичи не завершена. После завершения она передвигается в следующий столбец.
Или, если архитектура не верна или не точна — задачу можно вернуть в предыдущий столбец.</li>
<li>Тестирование: <br />
В этом столбце задача находится, пока она тестируется. Если найдены ошибки — возвращается в Разработку. Если нет — передвигается дальше.</li>
<li>Деплоймент: <br />
У всех проектов свой деплоймент. У кого-то это значит выложить новую версию продукта на сервер, а у кого-то — просто закомитить код в репозиторий.</li>
<li>Закончено: <br />
Сюда стикер попадает только тогда, когда все работы по задаче закончены полностью.</li>
<li>В любой работе случаются срочные задачи. Запланированные или нет, но такие, которые надо сделать прямо сейчас. Для таких можно выделить специальное место (на картинке отмечено, как «Expedite»). В Expedite можно поместить одну срочную задачу и команда должна начать ее выполнять немедленно и завершить как можно быстрее. Но может быть только одна такая задача! Если появляется еще одна — она должна быть добавлена в «Очередь задач».</li>
</ul>

<p>А теперь самое важное. Видите цифры под каждым столбцом? Это число задач, которые могут быть одновременно в этих столбцах. Цифры подбираются экспериментально, но считается, что они должны зависеть от числа разработчиков в команде.
Например, если вы имеете 8 программистов в команде, то в строку «Разработка» вы можете поместить цифру 4. Это значит, что одновременно программисты будут делать не более 4-х задач, а значит у них будет много причин для общения и обмена опытом. Если вы поставите туда цифру 2, то 8 программистов, занимающихся двумя задачами, могут заскучать или терять слишком много времени на обсуждениях. Если поставить 8, то каждый будет заниматься своей задачей и некоторые задачи будут задерживаться на доске надолго, а ведь главная задача Канбан — это уменьшение времени прохождения задачи от начала до стадии готовности.
Никто не даст точный ответ, какие должны быть эти лимиты, но попробуйте для начала разделить число разработчиков на 2 и посмотреть, как это работает в вашей команде. Потом эти числа можно подогнать под вашу команду.
Под «разработчиками» я понимаю не только программистов, но и других специалистов. Например, для столбца «Тестирование» разработчики — это тестеры, т.к. тестирование — это их обязаность.</p>

<p>Задачи на такой доске — это не просто задачи, а то, что называется Минимальной Маркетинговой Фичей, то есть фича, которую можно «продать» клиентам.
Хорошая проверка для ММФ — это вопрос себе «А стал бы я писать про эту фичу в блоге компании?». Если нет — это не ММФ.</p>

<p>Что нового и полезного дает такая доска с лимитами?</p>

<ul>
<li>Во-первых, уменьшение числа параллельно выполняемых задач сильно уменьшает время выполнения каждой отдельной задачи. Нет нужды переключать контекст между задачами, отслеживать разные сущности, планировать их и т.д. — делается только то, что нужно. Нет нужды устраивать спринт планнинги и 5% воркшопы, т.к. планирование уже сделано в столбце «очередь задач», а детальная проработка задачи начинается ТОЛЬКО тогда, когда задача начинает выполняться.</li>
<li>Во-вторых, сразу видны затыки. Например, если тестеры не справляются с тестированием, то они очень скоро заполнят весь свой столбец и программисты, закончившие новую задачу, уже не смогут переместить ее в столбец тестирования, т.к. он заполнен. Что делать? Тут время вспомнить, что «мы — команда» и решить эту проблему. Например, программисты могут помочь тестерам завершить одну из задач тестирования и только тогда передвинуть новую задачу на освободившееся место. Это позволит выполнить обе задачи быстрее.</li>
<li>В-третьих, можно вычислить время на выполнение усредненной задачи. Мы можем помечать на карточке дату, когда она попала в очередь задач, потом дату, когда ее взяли в работу и дату, когда ее завершили. По этим трем точкам для хотя бы 10 задач можно уже посчитать среднее время ожидания в очередь задач и среднее время выполнения задачи. А из этих цифр менеджер или product owner может уже рассчитывать всё, что ему угодно.</li>
</ul>

<p>Весь Канбан можно описать всего тремя основными правилами:</p>

<ol>
<li>Визуализируйте производство
<ul>
<li>Разделите работу на задачи, каждую задачу напишите на карточке и поместите на стену или доску.</li>
<li>Используйте названные столбцы, чтобы показать положение задачи в производстве.</li>
</ul></li>
<li>Ограничивайте WIP (work in progress или работу, выполняемую одновременно) на каждом этапе производства.</li>
<li>Измеряйте время цикла (среднее время на выполнение одной задачи) и оптимизируйте постоянно </li>
</ol>
